.footer {
    background-color: $dark-blue;
    padding: 2.5rem;
    text-align: center;

    &__logo {
        margin-bottom: 2rem;
    }

    &__social-medias {
        display: grid;
        grid-template-columns: repeat(5, max-content);
        column-gap: 1rem;
        justify-content: center;
        margin-bottom: 2rem;

        a {
            display: block;
            place-self: center stretch;
            
            svg path {
                transition: fill 0.3s ease-in-out;
            }

            &:hover svg path {
                fill: $bright-green;
            }
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;

        a {
            color: $light-grayish-blue;
            transition: color 0.3s ease-in-out;

            &:hover {
                color: $bright-green;
            }
        }

        a:not(:last-child) {
            margin-bottom: 1rem;
        }
    }

    &__request-invite-container {
        margin-bottom: 2rem;
    }
}

// Desktop

@include breakpoint-up(medium) {
    .footer {
        padding-top: 2.875rem;
        padding-bottom: 2.875rem;

        .container {
            display: grid;
            grid-template-columns: repeat(3, auto);
            justify-items: center;
            column-gap: 3rem;
        }
    
        &__logo-social-medias-container {
            justify-self: start;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
        }
    
        &__logo {
            width: 8.75rem;
            margin-bottom: 0;
        }
    
        &__social-medias {
            margin-bottom: 0;
        }
    
        &__links {
            justify-self: start;
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            grid-template-columns: repeat(2, minmax(auto, 11.25rem));
            grid-auto-columns: minmax(auto, 11.25rem);
            grid-template-rows: 1fr 1fr 1fr;
            row-gap: 1rem;
            margin-bottom: 0;
            text-align: left;
            font-weight: 300;
            font-size: 1rem;
    
            a:not(:last-child) {
                margin-bottom: 0;
            }
        }
    
        &__request-invite-copyright-container {
            justify-self: flex-end;
            display: flex;
            flex-direction: column;
        }

        &__request-invite-container {
            text-align: right;
        }

        &__copyright {
            font-size: 0.9rem;
            font-weight: 300;
            text-align: right;
        }
    }
}