.header {
    nav {
        padding: 24px;
    }
    
    &__menu-button { // mobile menu
        background-color: transparent;
        border: none;
        outline: none;

        > span {
            display: block;
            width: 26px;
            height: 2px;
            background-color: $dark-blue;

            &:not(:last-child) {
                margin-bottom: 3px;
            }
        } 
    }
}