// Flexbox

.flex {
    display: flex;

    &-jc-sb {
        justify-content: space-between;
    }

    &-jc-c {
        justify-content: center;
    }

    &-ai-c {
        align-items: center;
    }
}

// Visibility

.hide-for-mobile {
    // hide for tablet and mobile
    @include breakpoint-down(medium) {
        display: none;
    }
}

.hide-for-desktop {
    // hide for desktop viewport widths
    @include breakpoint-up(large) {
        display: none;
    }
}

// Scroll

.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 69.375rem;
    margin: 0 auto;

    &--p-all {
        padding-top: 4.375rem;
        padding-right: 1.5rem;
        padding-bottom: 4.375rem;
        padding-left: 1.5rem;
    }

    &--p-y {
        padding-top: 4.375rem;
        padding-bottom: 4.375rem;
    }

    &--p-x {
        padding-right: 1.5rem;
        padding-left: 1.5rem;
    }

    &--p-t {
        padding-top: 4.375rem;
    }

    &--p-b {
        padding-bottom: 4.375rem;
    }
    
    &--p-l {
        padding-left: 1.5rem;
    }
    
    &--p-r {
        padding-right: 1.5rem;
    }
}