.hero {
    &__image {
        position: relative;
        background-image: url('/images/bg-intro-mobile.svg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 17.5rem;

        &::after {
            content: '';
            position: absolute;
            background-image: url('/images/image-mockups.png');
            background-size: 93%;
            background-repeat: no-repeat;
            background-position: center 92%;
            height: 100%;
            width: 100%;
        }
    }

    &__text {
        text-align: center;
        
        h1 {
            font-weight: 300;
            color: $dark-blue;
            line-height: 1.15;
            font-size: 2.3125rem;
            margin-bottom: 1.5rem;
        }

        p {
            font-weight: 300;
            line-height: 1.7rem;
            margin-bottom: 2.25rem;
        }
    }
}

// Tablet

@include breakpoint-up(medium) {
    .hero {
        &__image {
            min-height: 25rem;

            &::after {
                background-size: 50%;
            }
        }
    }
}

// Desktop

@include breakpoint-up(large) {
    .hero {
        display: flex;
        align-items: center;
        overflow-x: visible;

        &__image {
            flex: 3;
            order: 2;
            height: 41rem;
            background-image: url('/images/bg-intro-desktop.svg');
            background-position: -20px -250px;
            background-size: 190%;
            background-image: none;

            &::before {
                content: '';
                position: absolute;
                background-image: url('/images/bg-intro-desktop.svg');
                background-size: 100%;
                background-repeat: no-repeat;
                background-position: center -218px;
                height: 100%;
                width: 165%;
            }

            &::after {
                background-size: 100%;
                background-position: right -138px;
                height: 134%;
                width: 121%;
                transform: translateX(21%);
            }
        }

        &__text {
            flex: 2;
            order: 1;
            text-align: left;

            h1 {
                margin-bottom: 2.5rem;
                font-size: $font-xlarge;
            }

            p {
                margin-bottom: 2.5rem
            }
        }
    }
}